.main-content
  .main-header
    %h3.main-header__group-name group1
    %p.main-header__memder
      = "Member：#{@group.show_group_member}"
    = link_to edit_group_path(@group), class: "main-header__edit-button" do
      Edit
  .message-list
    = render partial: 'message', collection: @messages
    = form_for [@group, @message], html: {class: 'message-from'} do |f|
      .message-from__box
        = f.text_field :body, class: 'message-from__box__text', placeholder: 'type a message'
        = f.label :image, class: 'message-from__box__icon' do
          %i.fa.fa-image
          = f.file_field :image, class: 'messag-from__box__icon__file', style: 'display:none;'
      = f.submit 'Send', class: 'message-from__send'
